.box1{
    width: 945px;
    height: 370px;
   
    /* 長い */
    background: url("../img/01.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* 短い */
    background: url(../img/01.jpg) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}
.box1 p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 165px;
}

.box2{
    width: 945px;
    height: 370px;
    background: url("../img/02.jpg") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}

.box2_title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;・
    padding-top: 165px;
}
